{% if app.request.attributes.get('trick') is null %}
    {# {% extends 'base.html.twig' %} #}

    {# {% block title %}Comments index{% endblock %} #}
{% endif %}

{% block body %}
    <h1>Commentaires</h1>

        {% for comment in comments %}
            <div class="card flex-row flex-wrap m-2">
                <div class="card-header border">
                    <img src="http://placehold.it/64x64" class="float-left rounded-circle">
                    <h5 class="card-title text-center">{{comment.user.pseudo}}</h5>
                </div>
                <div class="card-block px-2">
                    <p class="card-text">{{comment.content}}</p>
                    {# <a href="#" class="btn btn-primary">BUTTON</a> #}
                </div>
                <div class="card-footer w-100 text-muted text-right">
                    Créé le : {{ comment.CreatedAt ? comment.CreatedAt|date('Y-m-d H:i:s') : '' }}
                </div>
            </div>
                {# <div class="actions">
                    <a href="{{ path('comments_show', {'id': comment.id}) }}" class="card-link">Edit</a>
                    <a href="#" class="card-link">Delete</a>
                </div> #}
                {# </div>
            </div> #}
        {% else %}
            <p>Pas de commentaires déposés pour ce trick!</p>
        {% endfor %}

    {# <a href="{{ path('comments_new') }}">Create new</a> #}
{% endblock %}
