{% extends 'tricks/base.html.twig' %}

{% block title %}Tricks index{% endblock %}

{% block body %}
    <h1>La liste des Tricks avec leurs commentaires</h1>

    <div class="card-deck">
        {% for image in thumbails %}
            <div class="card col-mb6 mb-4">
                <img class="card-img-top" src="{{asset('medias/'~image[0].name)}}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title"><a href="{{ path('tricks_show', {'id': image[0].Tricks.id}) }}" >{{ image[0].Tricks.name }}</a></h5>
                {# <p class="card-text">{{ trick.description }}</p> #}
                </div>
                {% if app.user %}
                    <div class="card-footer">
                        <ul class="list-unstyled list-inline d-flex justify-content-between mb-0 pull-right">
                            <li class="list-inline-item mr-0">
                                <a href="{{ path('tricks_edit', {'id': image[0].Tricks.id}) }}"><span class="m-1" style="font-size: 1.3em; color: grey;"><i class="fa fa-edit"></i></span></a>
                            </li>
                            <li class="list-inline-item mr-0">
                                {{ include('tricks/_delete_form.html.twig') }}
                            </li>
                        </ul>
                        {# <a href="{{ path('tricks_show', {'id': trick.id}) }}" class="btn btn-primary">show</a> #}  
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}
