{% extends 'base.html.twig' %}

{% block title %}Tricks{% endblock %}

{% block body %}
    <style>
        #btnLike {
            opacity: 0.8;
        }
    </style>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {# Header show trick #}
    <div id="trickMainImage" class="position-relative border border-dark rounded">
        {{ include('tricks/_form_header_trick.html.twig') }}
    </div>
    {# Listing medias trick #}
    <div class="row m-1" id="trickMedia">
        {{ include('tricks/_form_medias.html.twig') }}
    </div>

    <div class="text-center" id="voirMedias">
        <button class="btn btn-info col-4 mt-3" onclick="visuMedias()">Voir les médias</button>
    </div>
    
    <div class="row">
        <div id="trickDescription" class="col-11 mx-auto mt-4 mb-1 bg-light">
            <h3>Description :</h3>
            {{ trick.description | raw }}
        </div>
    </div>

    <div class="row border-bottom">
        <div class="row text-center col-11 mx-auto my-2 bg-light" id="infos">
            <p class="col">Catégorie : {{ trick.category.name }}</p>
            <p class="col">Créé le {{ trick.createdat | date('d/m/Y') }}</p>
            <p class="col">Mis à jour le {{ trick.modifdate | date('d/m/Y') }}</p>
        </div>
    </div>
    {# Add comments if user is connected #}
    {% if app.user and modif is null %}
        <div class="justify-content-center w-75 m-auto">
            {{ render(controller('App\\Controller\\CommentsController::new',{'trick': trick.id})) }}
        </div>
    {% endif %}
    
    {% if modif == true %}
    
    {% else %}
        <div class="justify-content-center w-75 m-auto" id="Commentaires">
        {{ render(controller('App\\Controller\\CommentsController::index',{'trick': trick.id})) }}
        </div>
        
        <div class="justify-content-center w-75 m-auto" id="moreComments"></div>
        <div class="text-center m-auto">
            <button class="btn btn-info mt-3" id="btnMoreComments" onclick=loadComments('{{trick.id}}','{{ path('comments_load', {'id': trick.id}) }}')>Plus de commentaires</button>
            <button class="btn btn-info mt-3 d-none" id="btnLessComments" onclick=hideComments()>Moins de commentaires</button>
        </div>
    {% endif %}
        {# <a href="{{ path('tricks_index') }}">back to list</a> #}

{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script type="text/javascript">
//Fonction d'affichage ou pas des médias suivant taille de la fenêtre
function visuMedias() {
  var div = document.getElementById("trickMedia");
  if (div.style.display === "none") {
    div.style.display = "block";
  } else {
    div.style.display = "none";
  }
}
//Fonction de chargement des commentaires si plus de 5, pour alléger le traitement
function loadComments(idTrick,Url) {
    $(document).ready(function () {
        console.log(document.getElementById('btnMoreComments').classList);
        console.log(document.getElementById('btnMoreComments').classList.contains('d-none'));
        if (document.getElementById('btnMoreComments').classList.contains('d-none')==true) {
            document.getElementById('moreComments').classList.toggle('d-none');
            document.getElementById('btnMoreComments').classList.toggle('d-none');
            document.getElementById('btnLessComments').classList.toggle('d-none');
        } else {
            $.ajax({
                method: "POST",
                data: {id: idTrick},
                url: Url,
                success: function(dat){
                    var balise=document.getElementById('moreComments');
                    balise.innerHTML=dat;
                    balise.getElementsByTagName('h1')[0].innerText="Suite des commentaires";
                    document.getElementById('btnMoreComments').classList.toggle('d-none');
                    document.getElementById('btnLessComments').classList.toggle('d-none');
                }
            });
        }
    });
}
//Fonction de masquage des commentaires pour gagner de la visibilité
function hideComments() {
    document.getElementById('moreComments').classList.toggle('d-none');
    document.getElementById('btnMoreComments').classList.toggle('d-none');
    document.getElementById('btnLessComments').classList.toggle('d-none');
}
</script>
{% endblock %}