{% extends 'base.html.twig' %}

{% block title %}Tricks{% endblock %}

{% block body %}
    <div id="trickMainImage" class="position-relative border border-dark">
        <img class="w-100" src="{{asset('medias/' ~ thumbail[0].name)}}" alt="">
        <div id="trickTitle" class="text-center">
            <h1>{{ trick.name }}</h1>
        </div>
        {% if app.user %}
            <div class="operations">
                <div class="pull-right">
                    <a href="{{ path('trick_edit')}}"><i class="fas fa-pencil-alt"></i></a>
                    {{ include('tricks/_delete_form.html.twig') }}
                </div>
            </div>
        {% endif %}
    </div>

    <div class="row" id="trickMedia">
    {% for image in images %}
        <div class="trickImage mx-auto col-sm-6 col-md-4 col-lg-4 col-xl-2 border border-dark">
            <img src="{{asset('medias/' ~ image.name)}}" width="100%" alt="">
        </div>
    {% endfor %}
    {% for video in videos %}
        <div class="trickVideo col-sm-6 col-md-4 col-lg-4 col-xl-2 border border-dark">
            <iframe id="video{{ video.name }}" width="100%" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    {% endfor %}
    </div>

    <div class="row text-center d-none" id="seeMedia">
        <button class="btn btn-info col-10 mt-3">Voir les médias</button>
    </div>
    
    <div class="row">
        <div id="trickDescription" class="col-11 mx-auto mt-4 mb-1 bg-light">
            <h3>Description :</h3>
            {{ trick.description | raw }}
        </div>
    </div>

    <div class="row">
        <div class="row text-center col-11 mx-auto my-2 bg-light" id="infos">
            {# <p class="col">Publié le {{ trick.createdAt | date('d/m/Y') }} à {{ trick.createdAt | date('H:i') }} par {{ trick.user.username }}</p> #}
            {# <p class="col">Mis à jour le {{ trick.updatedAt | date('d/m/Y') }} à {{ trick.updatedAt | date('H:i') }}</p> #}
            <p class="col">Catégorie : {{ trick.category.name }}</p>
        </div>
    </div>

    <a href="{{ path('tricks_index') }}">back to list</a>

{% endblock %}
